<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Jan2021-SideServer</display-name>
	<welcome-file-list>
		<welcome-file>frontend/index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>image_save_dir</param-name>
		<param-value>frontend/assets/images</param-value>
	</context-param>
	
	<context-param>
		<param-name>report_save_dir</param-name>
		<param-value>backend/assets/reports</param-value>
	</context-param>
	
	<error-page>
		<error-code>403</error-code>
		<location>/DeniedPrivilege.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404Error.jsp</location>
	</error-page>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/ErrorLogin.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<description />
		<role-name>user</role-name>
	</security-role>
	
	<security-role>
		<description />
		<role-name>admin</role-name>
	</security-role>
	
	<security-constraint>
		<display-name>AdminPage</display-name>
		<web-resource-collection>
			<web-resource-name>Database</web-resource-name>
			<url-pattern>/backend/*</url-pattern>
			<url-pattern>/manageDashboard</url-pattern>
			<url-pattern>/manageOrders</url-pattern>
			<url-pattern>/manageOrderDetail</url-pattern>
			<url-pattern>/manageProduct</url-pattern>
			<url-pattern>/manageProductline</url-pattern>
			<url-pattern>/manageEmployee</url-pattern>
			<url-pattern>/manageOffice</url-pattern>
			<url-pattern>/Payment</url-pattern>
			<url-pattern>/Customer</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>admindatabase</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>JSP Files</web-resource-name>
	        <description>No direct access to JSP files</description>
	        <url-pattern>/frontend/fillBillingForm.jsp</url-pattern>
			<url-pattern>/frontend/footer.jsp</url-pattern>
			<url-pattern>/frontend/header.jsp</url-pattern>
			<url-pattern>/frontend/performCheckout.jsp</url-pattern>
			<url-pattern>/frontend/performPayment.jsp</url-pattern>
			<url-pattern>/frontend/printReceipt.jsp</url-pattern>
			<url-pattern>/frontend/productCatalog.jsp</url-pattern>
			<url-pattern>/frontend/productDetails.jsp</url-pattern>
			<url-pattern>/frontend/reviewOrder.jsp</url-pattern>
			<url-pattern>/frontend/shoppingCart.jsp</url-pattern>
	        <http-method>POST</http-method>
	        <http-method>GET</http-method>
	    </web-resource-collection>
	    <auth-constraint />
	</security-constraint>
</web-app>